.info-bar {
	background-color: rgba(161, 168, 204, 0.61);
	padding: 20px;
	width: 100%;
	border: 1px solid;
    border-radius: 5px;
}

p {
	font-weight: 700;
	text-transform: uppercase;
}

.sort-movie {
	float: right;
}

