.search-panel {
	background-color: rgba(161, 168, 204, 0.61);
	margin-bottom: 0;
	padding: 20px;
	width: 100%;
	border: 1px solid;
    border-radius: 5px;
}

p {
	display: inline-block;
	font-weight: 500;
	text-transform: uppercase;
}

.btn-group {
	margin-left: 10px;
}

input {
	margin-bottom: 20px;
}

.search {
	width: 150px;
}

.find-by-actions{
    display: flex;
    justify-content: space-between;
}